<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>${planExecInfo.planName} #${planExecInfo.execIdx} 执行报告</title>
    <style media="screen">
        body {
            margin:0;
            /* font-family: Helvetica,"Microsoft YaHei","微软雅黑",Arial,sans-serif; */
            font-family: 'Courier New',"Microsoft YaHei","微软雅黑",Arial,sans-serif;
            /* font-size: 12px; color: #000; */
        }

        //Form 表单********************
          .el-form--inline .el-form-item,.el-form--inline .el-form-item__content {
              display: inline-block;
              vertical-align: top
          }

        .el-form-item::after,.el-form-item__content::after {
            clear: both
        }

        .el-form--label-left .el-form-item__label {
            text-align: left
        }

        .el-form--label-top .el-form-item__label {
            float: none;
            display: inline-block;
            text-align: left;
            padding: 0 0 10px
        }

        .el-form--inline .el-form-item {
            margin-right: 10px
        }

        .el-form--inline .el-form-item__label {
            float: none;
            display: inline-block
        }

        .el-form-item__content .el-input-group,.el-form-item__label {
            vertical-align: middle
        }

        .el-form--inline.el-form--label-top .el-form-item__content {
            display: block
        }

        .el-form-item {
            margin-bottom: 22px
        }

        .el-form-item::after,.el-form-item::before {
            display: table;
            content: ""
        }

        .el-form-item .el-form-item {
            margin-bottom: 0
        }

        .el-form-item--mini.el-form-item,.el-form-item--small.el-form-item {
            margin-bottom: 18px
        }

        .el-form-item .el-input__validateIcon {
            display: none
        }

        .el-form-item--medium .el-form-item__content,.el-form-item--medium .el-form-item__label {
            line-height: 36px
        }

        .el-form-item--small .el-form-item__content,.el-form-item--small .el-form-item__label {
            line-height: 32px
        }
        .el-form-item__label-wrap {
            float: left
        }

        .el-form-item__label-wrap .el-form-item__label {
            display: inline-block;
            float: none
        }

        .el-form-item__label {
            text-align: right;
            float: left;
            font-size: 14px;
            color: #606266;
            line-height: 40px;
            padding: 0 12px 0 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box
        }

        .el-form-item__content {
            line-height: 40px;
            position: relative;
            font-size: 14px
        }
        .el-form-item--mini .el-form-item__content,.el-form-item--mini .el-form-item__label {
            line-height: 28px
        }
        .el-form-item {
            margin-bottom: 20px  /* 修改 */
        }

        .el-form-item__label {
            padding: 0 6px 0 0; /* 修改 */
            font-size: 14px;
        }

        .el-form-item--mini .el-form-item,.el-form-item--small.el-form-item {
            margin-bottom: 15px /* 修改 */
        }
        .el-form--inline .el-form-item--small.el-form-item,
        .el-form--inline .el-form-item--mini.el-form-item {
            margin-bottom: 0 /* 修改 */
        }
        .el-form-item--medium .el-form-item__content,.el-form-item--medium .el-form-item__label {
            line-height: 30px; /* 修改 */
            font-size: 24px;
        }
        .el-form-item--small .el-form-item__content,.el-form-item--small .el-form-item__label {
            line-height: 24px /* 修改 */
        }

        .el-form-item--small .el-form-item__error {
            padding-top: 0 /* 修改 */
        }

        .el-form-item--mini .el-form-item__content,.el-form-item--mini .el-form-item__label {
            font-size: 12px;
            line-height: 20px /* 修改 */
        }
        ..el-form-item__content {
            position: relative;
        }
        .el-form-item--mini .el-form-item__error {
            padding-top: 0 /* 修改 */
        }

        .el-form-item__error {
            padding-top: 1px; /* 修改 */
        }
        //Table 表格********************
          .el-table {
              font-size: 12px;
              color: #45474d; /*修改*/
          }

        .el-table table {
            border-collapse: inherit;
            border-spacing: 0;
            font-size: 14px;
            width: 100%;
            text-align: left;
        }
        .el-table table td, th {
            padding: 3px 0 3px 0;
        }

        /*表格边框*/
        .el-table td {
            border-bottom: 1px solid #d8dce5;
        }
        .el-table--border,.el-table--group {
            border: solid 1px #aac2f2;
        }
        .el-table--border td,.el-table--border th,.el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
            border-right: 1px solid #d8dce5
        }
        .el-table--border th.gutter:last-of-type {
            border-bottom: 1px solid #d8dce5;
        }
        .el-table--border th,.el-table__fixed-right-patch {
            border-bottom: 1px solid #d8dce5
        }
        .el-table__fixed-footer-wrapper tbody td {
            border-top: 1px solid #d8dce5;
        }



        /*修改*/
        .el-table table {
            border-collapse: inherit;
            border-spacing: 0;
        }


        .el-table th.is-leaf {
            border-bottom: 1px solid #adc6f7;
        }


        .el-table thead {
            color: #003366; /*修改*/
            /* font-weight: normal; /*修改*/ */
        }
        .el-table thead td, th {
            font-size: 14px;
            /* font-weight: normal; */
            background: #c8d9fa;
        }

        .el-table thead.is-group th {
            background: #f5f7fa;
        }

        .el-table--medium td,.el-table--medium th {
            padding: 6px 0;/*修改*/
        }

        .el-table--small td,.el-table--small th {
            padding: 4px 0;/*修改*/
        }

        .el-table--mini td,.el-table--mini th {
            padding: 1px;/*修改*/
        }

        .el-table .cell,.el-table th div {
            text-overflow: ellipsis;
            padding-right: 5px;/*修改*/
            overflow: hidden
        }

        .el-table .cell,.el-table th div,.el-table--border td:first-child .cell,.el-table--border th:first-child .cell {
            padding-left: 5px;/*修改*/
        }

        .el-table--striped .el-table__body tr.el-table__row--striped td {
            background: #f7f8fa; /*修改*/
        }


        .el-table__body tr.hover-row.el-table__row--striped>td,
        .el-table__body tr.hover-row>td {
            background-color: #def0fc !important; /*修改*/
        }


        .el-table--striped .el-table__body tr.el-table__row--striped.current-row td,
        .el-table__body tr.current-row>td,.el-table__body tr.hover-row.current-row>td,
        .el-table__body tr.hover-row.el-table__row--striped.current-row>td{
            background-color: #fceacf !important; /*修改*/
        }

        .el-table--enable-row-hover .el-table__body tr:hover>td {
            background-color: #def0fc; /*修改*/
        }

        .el-table__expanded-cell[class*=cell] {
            padding: 10px 15px 10px 36px;
            background-color: #fcfbfa;
        }


        .el-table__expanded-cell:hover {
            background-color: #fcfbfa !important;
        }


        .is-scrolling-none {/*固定表头*/
            overflow-y: auto;
        }
        .el-table_4_column_15 {
            width: 5%;
        }
        .el-table_4_column_16 {
            width: 20%;
        }
        .el-table_4_column_17 {
            width: 25%;
        }
        .el-table_4_column_18 {
            width: 10%;
        }
        .el-table_4_column_19 {
            width: 10%;
        }
        .el-table_4_column_20 {
            width: 10%;
        }
        .el-table_4_column_21 {
            width: 10%;
        }
        .el-table_4_column_22 {
            width: 10%;
        }

        @media screen and (min-width:1650px){
            .el-table table {
                border-collapse: inherit;
                border-spacing: 0;
                font-size: 14px;
                width: 100%;
                text-align: left;
            }
            .el-table table td, th {
                padding: 8px 4px 8px 4px;
            }
            .el-table--medium td,.el-table--medium th {
                padding: 10px 6px 10px 6px;/*修改*/
            }

            .el-table--small td,.el-table--small th {
                padding: 6px 3px 6px 3px;/*修改*/
            }

            .el-table--mini td,.el-table--mini th {
                padding: 3px 2px 3px 2px;/*修改*/
            }
        }
        .el-col-12 {
            width: 50%
        }

        .el-col-offset-12 {
            margin-left: 50%
        }

        .el-col-pull-12 {
            position: relative;
            right: 50%
        }

        .el-col-push-12 {
            left: 50%
        }
        .el-col-24 {
            width: 100%
        }

        .el-col-offset-24 {
            margin-left: 100%
        }

        .el-col-pull-24 {
            right: 100%
        }

        .el-col-push-24 {
            left: 100%
        }
        .el-row {
            position: relative;
            -webkit-box-sizing: border-box;
            box-sizing: border-box
        }

        .el-row::after,.el-row::before {
            display: table;
            content: ""
        }

        .el-row::after {
            clear: both
        }
        .el-col-pull-24,.el-col-push-12,.el-col-push-24{
            position: relative
        }[class*=el-col-] {
             float: left;
             -webkit-box-sizing: border-box;
             box-sizing: border-box
         }
        .v-modal-enter {
            -webkit-animation: v-modal-in .2s ease;
            animation: v-modal-in .2s ease
        }

        .v-modal-leave {
            -webkit-animation: v-modal-out .2s ease forwards;
            animation: v-modal-out .2s ease forwards
        }

        @-webkit-keyframes v-modal-in {
            0% {
                opacity: 0
            }
        }

        @keyframes v-modal-in {
            0% {
                opacity: 0
            }
        }

        @-webkit-keyframes v-modal-out {
            100% {
                opacity: 0
            }
        }

        @keyframes v-modal-out {
            100% {
                opacity: 0
            }
        }

        .v-modal {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: .5;
            background: #000
        }

        .el-popup-parent--hidden {
            overflow: hidden
        }

        .el-dialog {
            position: relative;
            margin: 0 auto 50px;
            background: #FFF;
            border-radius: 2px;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
            box-shadow: 0 1px 3px rgba(0,0,0,.3);
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 50%
        }

        .el-dialog.is-fullscreen {
            width: 100%;
            margin-top: 0;
            margin-bottom: 0;
            height: 100%;
            overflow: auto
        }

        .el-dialog__wrapper {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: auto;
            margin: 0
        }

        .el-dialog__header {
            padding: 20px 20px 10px
        }

        .el-dialog__headerbtn {
            position: absolute;
            top: 20px;
            right: 20px;
            padding: 0;
            background: 0 0;
            border: none;
            outline: 0;
            cursor: pointer;
            font-size: 16px
        }

        .el-dialog__headerbtn .el-dialog__close {
            color: #909399
        }

        .el-dialog__headerbtn:focus .el-dialog__close,.el-dialog__headerbtn:hover .el-dialog__close {
            color: #409EFF
        }
        .el-dialog__header {
            padding: 4px 15px 3px 15px; /*修改*/
            border-bottom: solid 1px #bad8f7; /*修改*/
            background: #d7eafc; /*修改*/
        }

        .el-dialog__headerbtn {
            position: absolute;
            top: 10px; /*修改*/
            right: 15px;
        }
        .el-dialog__headerbtn .el-dialog__close {
            font-size: 20px;
            color: #004ce5;
        }

        .el-dialog__title {
            line-height: 24px;
            font-size: 18px;
            color: #303133
        }

        .el-dialog__body {
            padding: 30px 20px;
            color: #606266;
            font-size: 14px;
            word-break: break-all
        }

        .el-dialog__footer {
            padding: 10px 20px 20px;
            text-align: right;
            -webkit-box-sizing: border-box;
            box-sizing: border-box
        }

        .el-dialog--center {
            text-align: center
        }

        .el-dialog--center .el-dialog__body {
            text-align: initial;
            padding: 25px 25px 30px
        }

        .el-dialog--center .el-dialog__footer {
            text-align: inherit
        }

        .dialog-fade-enter-active {
            -webkit-animation: dialog-fade-in .3s;
            animation: dialog-fade-in .3s
        }

        .dialog-fade-leave-active {
            -webkit-animation: dialog-fade-out .3s;
            animation: dialog-fade-out .3s
        }

        @-webkit-keyframes dialog-fade-in {
            0% {
                -webkit-transform: translate3d(0,-20px,0);
                transform: translate3d(0,-20px,0);
                opacity: 0
            }

            100% {
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
                opacity: 1
            }
        }

        @keyframes dialog-fade-in {
            0% {
                -webkit-transform: translate3d(0,-20px,0);
                transform: translate3d(0,-20px,0);
                opacity: 0
            }

            100% {
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
                opacity: 1
            }
        }

        @-webkit-keyframes dialog-fade-out {
            0% {
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
                opacity: 1
            }

            100% {
                -webkit-transform: translate3d(0,-20px,0);
                transform: translate3d(0,-20px,0);
                opacity: 0
            }
        }

        @keyframes dialog-fade-out {
            0% {
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
                opacity: 1
            }

            100% {
                -webkit-transform: translate3d(0,-20px,0);
                transform: translate3d(0,-20px,0);
                opacity: 0
            }
        }
        .el-dialog {
            margin: 0 auto 30px;
            background: #fff;
            overflow: hidden;/*修改*/
            -webkit-border-radius: 7px;/*修改*/
            -moz-border-radius: 7px;/*修改*/
            border-radius: 7px;/*修改*/
            line-height: 30px;
        }

        .el-dialog.is-fullscreen {
            overflow: hidden;
        }


        @media only screen and (max-width: 1500px) {
            .el-dialog__wrapper {
                top: -10%;/*修改*/
            }
        }
        .el-dialog__title {
            font-size: 12px; /*修改*/
            color: #003399;
            font-weight: bold;
        }

        .el-dialog__body {
            padding: 15px 10px 10px 10px; /*修改*/
            color: #5a5e66;
            line-height: 24px;
            font-size: 12px
        }

        .el-dialog__footer {
            padding: 6px 15px 10px 15px;
            border-top: solid 1px #f2f2f2; /*修改*/
        }

        @-webkit-keyframes dialog-fade-in {
            0% {
                -webkit-transform: translate3d(0,-20px,0);
                transform: translate3d(0,-20px,0);
                opacity: 0
            }

            100% {
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
                opacity: 1
            }
        }

        @keyframes dialog-fade-in {
            0% {
                -webkit-transform: translate3d(150px,-20px,0);/*修改*/
                transform: translate3d(150px,-20px,0);/*修改*/
                opacity: 0
            }

            100% {
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
                opacity: 1
            }
        }

        @-webkit-keyframes dialog-fade-out {
            0% {
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
                opacity: 1
            }

            100% {
                -webkit-transform: translate3d(0,-20px,0);
                transform: translate3d(0,-20px,0);
                opacity: 0
            }
        }

        @keyframes dialog-fade-out {
            0% {
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
                opacity: 1
            }

            100% {
                -webkit-transform: translate3d(150px,-20px,0);/*修改*/
                transform: translate3d(150px,-20px,0);/*修改*/
                opacity: 0
            }
        }
        .el-button--small {
            padding: 5px;
            font-size: 12px;
            border-radius: 2px;
        }
        .el-button {
            display: inline-block;
            line-height: 1;
            white-space: nowrap;
            cursor: pointer;
            background: #FFF;
            border: 1px solid #DCDFE6;
            color: #606266;
            -webkit-appearance: none;
            text-align: center;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            outline: 0;
            margin: 0;
            -webkit-transition: .1s;
            transition: .1s;
            font-weight: 500;
        }
        .step-title {line-height: 30px;}
        .step-title h6 {display: inline;}
        .open {
            position: relative;
            border: 1px solid #ccc;
            display: inline-block;
            top: 8px;
            width: 15px;
            height: 15px;
            border-radius: 4px;
            cursor: pointer;
        }
        .add {
            position: relative;
            top: -50%;
            left: 25%;
        }
        .open-table {
            opacity: 0;
            transition: all 2s;
            -moz-transition: all 2s; /* Firefox 4 */
            -webkit-transition: all 2s; /* Safari 和 Chrome */
            -o-transition: all 2s;
        }
        a { text-decoration: none; }
        a:focus { outline:0; }
        a,a:hover, a:focus, a:active { color: rgb(64, 158, 255);}
        .color-blue {color: rgb(64, 158, 255);}
        .hljs-number {color: #f99157;}
        .mkview pre {
            line-height: 1.45;
            background-color: #f7f7f7;
            border: 0;
            border-radius: 3px;
            color: #333;
            margin-top: 0 !important;
            padding: 15px 0;
        }
        pre {
            display: block;
            font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif !important;
            white-space: pre;
            margin: 1em 0px;
        }
        .panel-body {
            margin: 20px;
        }
        .bar-title {
            height: 50px;
            padding: 5px 0 5px 0;
            border-bottom: 1px solid #d3d5db;
            margin-bottom: 20px;
        }
        .bar-title .fl {
            height: 20px;
            padding-left: 10px;
            margin-top: 5px;
            border-left: 3px solid #217dd9;
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
        }
    </style>
</head>

<body>
<div class="panel-body">
    <div class="bar-title">
        <div class="fl"><h2>${planExecInfo.planName} #${planExecInfo.execIdx} 执行报告</h2></div>
    </div>
    <form class="el-form">
        <div class="el-row">
            <div class="el-col el-col-24">
            </div>
        </div>
        <div class="el-row">
            <div class="el-col el-col-24">
                <div class="el-form-item el-form-item--mini">
                    <label for="execBeginTime" class="el-form-item__label" style="width: 100px;">
                        执行开始时间:
                    </label>
                    <div class="el-form-item__content" style="margin-left: 100px;">${veloUtil.dateFormat(${planExecInfo.execBeginTime})}</div>
                </div>
            </div>
            <div class="el-col el-col-24">
                <div class="el-form-item el-form-item--mini">
                    <label for="execEndTime" class="el-form-item__label" style="width: 100px;">
                        执行结束时间:
                    </label>
                    <div class="el-form-item__content" style="margin-left: 100px;">
                        ${veloUtil.dateFormat(${planExecInfo.execEndTime})}
                        <!----></div>
                </div>
            </div>
        </div>
        <div class="el-row">
            <div class="el-col el-col-24">
                <div class="el-form-item el-form-item--mini">
                    <label for="planName" class="el-form-item__label" style="width: 100px;">
                        执行环境:
                    </label>
                    <div class="el-form-item__content" style="margin-left: 100px;">
                        ${planExecInfo.profileId}
                    </div>
                </div>
            </div>
        </div>
        <div class="el-row">
            <div class="el-col el-col-24">
                <div class="el-form-item el-form-item--mini">
                    <label for="execResult" class="el-form-item__label" style="width: 100px;">
                        执行结果:
                    </label>
                    <div class="el-form-item__content" style="margin-left: 100px;">
                        #set($total = ${execResultMap.NoRun}+${execResultMap.running}+${execResultMap.success}+${execResultMap.fail})
                        #set($undone = ${execResultMap.NoRun}+${execResultMap.running})
                        <span style="color: #409eff;">${executeResult}</span>(总任务数：${total}，<span style="color: rgb(103, 194, 58);">成功：${execResultMap.success}个</span>，<span style="color: rgb(245, 108, 108);">失败：${execResultMap.fail}个</span>，未完成：${undone}个)
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="Chart">
    #*<h3>执行结果图</h3>
    <div id="resultChart" style="width: 800px;height:400px;"></div>*#
          #*<h5>用例耗时图</h5>
          <img src="">*#
    </div>
    <div>
        <h2>测试案例的任务执行情况</h2>
        <div class="el-table el-table--fit el-table--striped el-table--border el-table--enable-row-transition" style="width: 100%;">
            <div class="el-table__body-wrapper is-scrolling-none execTasks">
                <table cellspacing="0" cellpadding="0" border="0" class="el-table__body">
                    <thead class="has-gutter">
                    <tr class="">
                        <th colspan="1" rowspan="1" class="el-table_4_column_15     is-leaf">
                            <div class="cell">序号</div>
                        </th>
                        <th colspan="1" rowspan="1" class="el-table_4_column_16     is-leaf">
                            <div class="cell">任务名称</div>
                        </th>
                        <th colspan="1" rowspan="1" class="el-table_4_column_17     is-leaf">
                            <div class="cell">所属用例集</div>
                        </th>
                        <th colspan="1" rowspan="1" class="el-table_4_column_18     is-leaf">
                            <div class="cell">版本</div>
                        </th>
                        <th colspan="1" rowspan="1" class="el-table_4_column_20     is-leaf">
                            <div class="cell">耗时(毫秒)</div>
                        </th>
                        <th colspan="1" rowspan="1" class="el-table_4_column_21     is-leaf">
                            <div class="cell">执行结果</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach(${job} in ${engineJobs})
                            #set($idx=${velocityCount} )
                            #set($caseInfo=${job.reCaseDesignInfo})
                            #set($priority=${veloUtil.numberToString(${caseInfo.priority})})
                            #set($caseSet=${job.reCaseSet})
                            #set($elapsed=${job.finishedTme} - ${job.receivedTme})

                        <tr class="el-table__row">
                            <td rowspan="1" colspan="1" class="el-table_4_column_15  ">
                                <div class="cell"><span>${idx}</span></div>
                            </td>
                            <td rowspan="1" colspan="1" class="el-table_4_column_16  ">
                                <div class="cell"><a href="#miao${idx}">${caseInfo.caseName}</a></div>
                            </td>
                            <td rowspan="1" colspan="1" class="el-table_4_column_17  "><div class="cell"><span>${caseSet.setName}</span></div></td>
                            <td rowspan="1" colspan="1" class="el-table_4_column_18  "><div class="cell"><span>${caseInfo.version}</span></div></td>
                            <td rowspan="1" colspan="1" class="el-table_4_column_20  "><div class="cell">${job.elapsedTime}</div></td>
                            <td rowspan="1" colspan="1" class="el-table_4_column_21  "><div class="cell">
                                #if(${job.result}=="success")
                                    <span style="color: rgb(0,128,0);">成功</span>
                                #elseif(${job.result}=='NoRun' || ${job.result}=='running')
                                    <span style="color: rgb(0,0,255);">未完成</span>
                                #else
                                    <span style="color: rgb(245, 108, 108);">失败</span>
                                #end</div></td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <h3>测试案例任务步骤具体执行情况</h3>
    </div>
    #foreach(${job} in ${engineJobs})
        #set($caseInfo=${job.reCaseDesignInfo})
        #set($caseSet=${job.reCaseSet})
        #set($jobProList=${job.jobProList})
        #set($idx=${velocityCount} )
        <div>
            <div class="step-title" id="miao${idx}">
                <h5><span class="open"><span class="add">+</span></span>  &nbsp;&nbsp;   ${caseInfo.caseName}</h5>
            </div>
            <div style="display: none;" class="open-table el-table el-table--fit el-table--striped el-table--border el-table--enable-row-transition" style="width: 100%;">
                <div class="el-table__body-wrapper is-scrolling-none">
                    <table cellspacing="0" cellpadding="0" border="0" class="el-table__body">
                        <thead class="has-gutter">
                        <tr class="">
                            <th colspan="1" rowspan="1" class="el-table_4_column_15     is-leaf">
                                <div class="cell">序号</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_4_column_16     is-leaf">
                                <div class="cell">组件名称</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_4_column_17     is-leaf">
                                <div class="cell">组件中文名称</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_4_column_18     is-leaf">
                                <div class="cell">组件库名称</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_4_column_20     is-leaf">
                                <div class="cell">耗时(毫秒)</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_4_column_21     is-leaf">
                                <div class="cell">执行结果</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            #foreach(${jobPro} in ${jobProList})
                                #set($idx=${velocityCount} )
                                #set($prologs=${jobPro.proLogs})
                                #set($allLog="")
                                #foreach($prolog in ${prologs})
                                    #set($reTme=${prolog.recordTme.toString().replaceAll(" ","&nbsp;")})
                                    #set($logMsg=${prolog.logMessage.toString().replaceAll(" ","&nbsp;").replaceAll("<", "&lt;").replaceAll(">", "&gt;")})
##                                    #set($allLog=${allLog}+"&lt;span&gt;"+${prolog.recordTme}+"&lt;/span&lt;&nbsp;"+${prolog.logLevel}+"&nbsp;"+${prolog.logMessage}+"\r\n")
                                    #set($allLog=${allLog}+"&lt;span&gt;"+${reTme}+"&lt;/span&lt;&nbsp;"+${prolog.logLevel}+"&nbsp;"+${logMsg}+"\r\n")
                                #end
                            <tr class="el-table__row">
                                <td rowspan="1" colspan="1" class="el-table_4_column_15  ">
                                    <div class="cell"><span>${idx}</span></div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_4_column_17  " onclick=showlogs('${allLog}')><div class="cell"><span class="color-blue component-name">${jobPro.cmptName}</span></div></td>
                                <td rowspan="1" colspan="1" class="el-table_4_column_18  "><div class="cell"><span>${jobPro.cmptDataName}</span></div></td>
                                <td rowspan="1" colspan="1" class="el-table_4_column_19  "><div class="cell"><span>${jobPro.cmptLibName}</span></div></td>
                                <td rowspan="1" colspan="1" class="el-table_4_column_20  "><div class="cell">${jobPro.elapsedTime}</div></td>
                                <td rowspan="1" colspan="1" class="el-table_4_column_21  "><div class="cell">
                                    #if(${jobPro.result}=="success")
                                        <span style="color: rgb(0,128,0);">成功</span>
                                    #elseif(${jobPro.result}=='NoRun' || ${jobPro.result}=='running')
                                        <span style="color: rgb(0,0,255);">未完成</span>
                                    #else
                                        <span style="color: rgb(245, 108, 108);">失败</span>
                                    #end</div></td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    #end
</div>

<div class="el-dialog__wrapper" style="z-index: 2003; display: none;">
    <div role="dialog" aria-modal="true" aria-label="日志" class="el-dialog" style="margin-top: 15vh; width: 80%;">
        <div class="el-dialog__header">
            <span class="el-dialog__title">日志</span>
            <button type="button" aria-label="Close" class="el-dialog__headerbtn"><i class="el-dialog__close el-icon el-icon-close"></i></button>
        </div>
        <div class="el-dialog__body">
            <div>
                <div data-v-093744cc="" class="mkview">
                <pre id="logContent">
                </pre>
                </div>
            </div>
        </div>
        <div class="el-dialog__footer" onclick="close()">
            <button id="close" type="button" class="el-button el-button--default el-button--small">
                <span>关 闭</span>
            </button>
        </div>
    </div>
</div>
<div class="v-modal" tabindex="0" style="display: none;"></div>
</body>
<script type="text/javascript">
    window.onload = function onload() {
        var open = document.getElementsByClassName("open") || []
        var openTable = document.getElementsByClassName("open-table") || []
        var add = document.getElementsByClassName("add") || []
        for (var i = 0; i < open.length; i++) {
            open[i].onclick = (function (i) {
                return function () {
                    if (openTable[i].style.display === 'none') {
                        var miao = document.getElementById('miao' +(i + 1))
                        miao.style.color = '#409eff'
                        setTimeout(function () {
                            openTable[i].style.opacity = 1
                        }, 0)
                        openTable[i].style.display = "block"
                        openTable[i].style.opacity = 0
                        // openTable[i].style.display = 'block'
                        add[i].style.paddingLeft = '1px'
                        add[i].style.top = '-90%'
                        add[i].innerHTML = '_'
                    } else {
                        var miao = document.getElementById('miao' +(i + 1))
                        miao.style.color = 'inherit'
                        openTable[i].style.opacity = 0
                        setTimeout(function () {
                            openTable[i].style.display = "none"
                        }, 1000)
                        // openTable[i].style.display = 'none'
                        add[i].style.paddingLeft = '0'
                        add[i].style.top = '-50%'
                        add[i].innerHTML = '+'
                    }
                }
            })(i)
        }
        var componentName = document.getElementsByClassName("component-name") || []
        var dialog = document.getElementsByClassName("el-dialog__wrapper")[0]
        var vModal = document.getElementsByClassName("v-modal")[0]
        var closeBtn = document.getElementById("close")
        for (var j = 0; j < componentName.length; j++) {
            componentName[j].onclick = function () {
                dialog.style.display = 'block'
                vModal.style.display = 'block'
            }
        }
        var close = function (event) {
            dialog.style.display = 'none'
            vModal.style.display = 'none'
        }
        closeBtn.onclick = close
        dialog.onclick = function (event) {
            if (event.target.className === dialog.className) {
                close()
            }
        }
        var execTasks = document.querySelectorAll(".execTasks a")
        for (var a = 0; a < execTasks.length; a++) {
            execTasks[a].onclick = (function (a) {
                return function () {
                    var miao = document.getElementById('miao' + a)
                    if (miao.style.color === 'rgb(64, 158, 255)') {
                        return ;
                    }
                    var open = document.querySelector('miao' + a + ' .open')
                    open.onclick()
                }
            })(a + 1)
        }
    }
    function showlogs(logs){
        // console.log(logs)
        var logContent = document.getElementById("logContent")
        logContent.innerHTML=logs
    }
</script>
#*<script type="text/javascript">
    var myChart = echarts.init(document.getElementById("resultChart"));
    var option = ${otpion};
    myChart.setOption(option);
</script>*#

</html>
